PRINTER_SERVICE_HOST=127.0.0.1
PRINTER_SERVICE_PORT=3210

# windows | network
PRINTER_MODE=windows

# Mode windows
PRINTER_NAME=POS-80C

# Mode reseau
PRINTER_HOST=192.168.1.50
PRINTER_PORT=9100

PRINTER_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://127.0.0.1:5173,http://127.0.0.1:5174
